<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">
        Todo
      </h1>

      <div class="card">
        <div class="card-header">
          <div class="form-group">
            <!-- Add an keyup event listener on input. Trigger addItem method from app.component.ts -->
            <!-- Angular give us a $event variable when using event listener.  -->
            <!-- It contain the same object as javascript event listener -->
            <input type="text" class="form-control" (keyup)="addItem($event)">
          </div>
        </div>

        <ul class="list-group list-group-flush">
          <li *ngFor="let item of todoArray; let itemIndex = index" class="list-group-item d-flex justify-content-between">
            <app-checkbox [label]="item.title" [checked]="item.checked"></app-checkbox>

            <button class="btn btn-outline-danger btn-sm" (click)="removeItem(itemIndex)">
              x
            </button>
          </li>
        </ul>

        <div class="card-footer d-flex justify-content-between">
          <app-array-size [array]="todoArray"></app-array-size>
          
          <div>
            {{ todoArray.length }} items
          </div>

          <!-- *ngIf take a boolean, if true, display the element, if false, hide the element. -->
          <button *ngIf="atLeastOneChecked" class="btn btn-sm btn-link" (click)="clearCompletedItem()">
            Clear completed
          </button>
        </div>
      </div>
    </div>
  </div>
</div>






<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>